.panel-label-green {
    color: #00FF00;
    font-weight: bold;
}

.panel-label-red {
    color: #FF0000;
    font-weight: bold;
}

.hour-entry,
.min-entry {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.set-button {
    padding: 2px 5px;
    background-color: #444;
    border-radius: 3px;
    color: white;
}

.set-button:hover {
    background-color: #666;
}